[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tkcalendar = "*"
pandas = "*"
pandas-datareader = "*"
pyinstaller = "*"
tk = "*"

[requires]
python_version = "3.8"
